name: CI

on:
  workflow_dispatch: 
  push:
    branches:
      - main

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.3

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint & Format Check
        run: bun run check

      - name: Type Check
        run: bun run typecheck
