name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run Lint, Format and Unused Dependency Check
        run: bun run check

      - name: Check generated client is up to date
        run: bun scripts/generate-client.ts

      - name: Check generated routes is up to date
        run: bun scripts/generate-routes.ts

      - name: Check drizzle migrations are up to date
        run: |
          bun run generate:migration
          git diff --exit-code drizzle/

      - name: Build
        run: bun run build

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run Tests
        run: bun run test:coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: hexcuit/server
          fail_ci_if_error: true
          files: ./coverage/lcov.info
