name: Deploy

on:
  workflow_dispatch:
    inputs:
      run_migrations:
        description: 'Run D1 migrations'
        type: boolean
        default: false

jobs:
  deploy:
    name: Deploy to Cloudflare Workers
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      - name: Generate Drizzle kit
        if: ${{ inputs.run_migrations }}
        run: bun run generate

      - name: D1 Migrations
        if: ${{ inputs.run_migrations }}
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          command: d1 migrations apply hexcuit --remote

      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          command: deploy
          secrets: |
            API_KEY
            CORS_ORIGIN
        env:
          API_KEY: ${{ secrets.API_KEY }}
          CORS_ORIGIN: ${{ secrets.CORS_ORIGIN }}
